.numbers-btns {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(5, 6rem);
  gap: 0.5rem;
  /* border: 1px solid black; */
}

.zero {
  grid-column: -4 / -2;
  grid-row: 5 / 6;
}

.clear-all {
  color: var(--danger-color);
}