* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --lightest-color: #c2f9ff;
  --main-color: #024d5e;
  --emphasis-color: #f79235;
  --danger-color: #e72448;
  --just-in-case-color: #0d586a;
}

html {
  font-size: 65%;
  /* font */
}

body {
  height: 100vh;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: var(--lightest-color);
}

button {
  cursor: pointer;
  background-color: var(--lightest-color);
  border: none;
  border-radius: 1rem;
}
button:hover {
  transform: scale(0.96);
  transition: transform 0.16s ease-in;
}

hr {
  color: var(--lightest-color);
}