* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --lightest-color: #f2fcf2;
  --main-color: #16722f;
  --emphasis-color: #9999cc;
  --just-in-case-color: #749a76;
}

html {
  font-size: 65%;
  /* font */
}

body {
  height: 100vh;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: var(--lightest-color);
}

button {
  cursor: pointer;
  background-color: var(--lightest-color);
  border: none;
  border-radius: 1rem;
}
button:hover {
  transform: scale(0.96);
  transition: transform 0.16s ease-in;
}

.grid-cell {

}